<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Submitted Information</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <h2>Submitted Information</h2>
        <div class="section">
            Name: <%= postInfo.name %>
        </div>
        <div class="section">
            Dojo Location: <%= postInfo.location %>
        </div>
        <div class="section">
            Favorite Language: <%= postInfo.favLanguage %>
        </div>
        <div class="section">
            Comment: <%= postInfo.comment %>
        </div>
    </body>
</html>
